//! **************************************************************************
// Written by: Map P.20131013 on Wed Aug 12 23:28:11 2015
//! **************************************************************************

SCHEMATIC START;
COMP "RsRx" LOCATE = SITE "N10" LEVEL 1;
COMP "RsTx" LOCATE = SITE "V12" LEVEL 1;
COMP "FullLed" LOCATE = SITE "V16" LEVEL 1;
COMP "mclk" LOCATE = SITE "V10" LEVEL 1;
COMP "anodes<0>" LOCATE = SITE "P17" LEVEL 1;
COMP "anodes<1>" LOCATE = SITE "P18" LEVEL 1;
COMP "anodes<2>" LOCATE = SITE "N15" LEVEL 1;
COMP "anodes<3>" LOCATE = SITE "N16" LEVEL 1;
COMP "EmptyLED" LOCATE = SITE "U16" LEVEL 1;
COMP "segments<0>" LOCATE = SITE "T17" LEVEL 1;
COMP "segments<1>" LOCATE = SITE "T18" LEVEL 1;
COMP "segments<2>" LOCATE = SITE "U17" LEVEL 1;
COMP "segments<3>" LOCATE = SITE "U18" LEVEL 1;
COMP "segments<4>" LOCATE = SITE "M14" LEVEL 1;
COMP "segments<5>" LOCATE = SITE "N14" LEVEL 1;
COMP "segments<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "PlaybackSwitch" LOCATE = SITE "B8" LEVEL 1;
SCHEMATIC END;

